.spacer {
  height: rem(240px);
}

.wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  height: rem(240px);
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);

  @mixin smaller-than $mantine-breakpoint-md {
    padding: var(--mantine-spacing-xl);
  }

  color: var(--mantine-color-white);
  background-color: var(--ht-color-ink);
  border-top: 8px solid var(--ht-color-yellow);
  box-shadow: 0 -13px 0 var(--ht-color-red);
}
