.root {
  overflow-x: auto;
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  color: var(--ht-color-text-muted);
  font-family: var(--ht-font-technical);

  & p {
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: var(--mantine-spacing-xs);
  }

  & :not(pre) > code {
    color: var(--ht-color-text-muted);
    white-space: normal;
    font-size: 0.95em;
    background-color: transparent;
    padding: 1px calc(var(--mantine-spacing-xs) / 2);
    border: none;
  }

  & strong {
    color: var(--ht-color-primary);
  }

  & a {
    color: var(--ht-color-text-muted);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  & a:hover {
    color: var(--ht-color-primary);
    text-decoration: none;
  }
}
